    <div class="container">
      <div class="content-header">
        <h2 class="h3">最近追加されたメモ</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <img class="col-md-4" src="https://images-na.ssl-images-amazon.com/images/I/51XdQhacD-L._SX351_BO1,204,203,200_.jpg">
              <div class="col-md-8">
                <p class="h4">第<% %>章</p>
                <p>Ruby入門書の超ロングセラー! いちばん売れているRuby入門書の決定版。初版から14年。改訂とともに変化しながら、ずっと読まれ続けている定番商品です。
    第5版  では、最新のバージョンに対応。</p>
              </div>
            </div>
          </div><!-- /col-md-4 -->
          <div class="col-md-4">
            <div class="row">
              <img class="col-md-4" src="https://images-na.ssl-images-amazon.com/images/I/51XdQhacD-L._SX351_BO1,204,203,200_.jpg">
              <div class="col-md-8">
                <p class="h4">第<% %>章</p>
                <p>Ruby入門書の超ロングセラー! いちばん売れているRuby入門書の決定版。初版から14年。改訂とともに変化しながら、ずっと読まれ続けている定番商品です。
    第5版  では、最新のバージョンに対応。</p>
              </div>
            </div>
          </div><!-- /col-md-4 -->
          <div class="col-md-4">
            <div class="row">
              <img class="col-md-4" src="https://images-na.ssl-images-amazon.com/images/I/51XdQhacD-L._SX351_BO1,204,203,200_.jpg">
              <div class="col-md-8">
                <p class="h4">第<% %>章</p>
                <p>Ruby入門書の超ロングセラー! いちばん売れているRuby入門書の決定版。初版から14年。改訂とともに変化しながら、ずっと読まれ続けている定番商品です。
    第5版  では、最新のバージョンに対応。</p>
              </div>
            </div>
          </div><!-- /col-md-4 -->
        </div><!-- /row -->
      </div>
      <div class="content-header">
        <h2 class="h3">最近追加された本</h2>
        <div class="row">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
          <img class="col-md-2" src="https://images-na.ssl-images-amazon.com/images/I/51bOwVu7n%2BL._SX331_BO1,204,203,200_.jpg">
        </div>
      </div>
      <div class="content-header">
        <h2 class="h3">Yomitokuとは</h2>
        <ul class="h4">
          <li>技術書にメモができる！</li>
          <li>タイトルから技術書を探せる！</li>
          <li>メモにコメントができる！</li>
        </ul>
      </div>
    </div>
