<div class='content'>
  <h2>検索結果</h2>
  <div id='book_list'>
    <% if @books.present? %>
      <% @books.each do |book| %>
        <div class="list">
          <% next if book.image_url.nil? %>
          <%= link_to (image_tag(book.image_url, style: "width: 70px;height: 100px;display: inline-block;")), book.url %>
          <%= link_to book.title, new_book_path %>
        </div>
      <% end %>
  <% end %>
  </div>
</div>

